.page-title {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.fas {
    font-size: 20px;
    text-align: center;
    color: white;
}

span {
    color:white;
    font-size: 15px;
}
.flexdiv{
    display: flex;
    flex-direction: row;
}
#sidebar {
    display: flex;
    flex-direction: column;
    visibility: visible;
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#sidebar .icondiv {
    text-align: center;
    max-width: 20px;
    font-size: 20px;
    max-height: 20px;
}
.topnav{
    visibility: hidden;
}
.itemmenu{
    display: flex;
    display: inline-block;
}

#sidebar a {
    visibility: visible;
    display:block;
    text-align: center;
    padding: 12px;
    transition: all 300ms ease;
    color: white;
    font-size: 15px;
    background-color: #090;
    overflow: hidden;
    text-decoration: none;
    max-height: 20px;
    min-width: 20px;
}

.shrink {
    width:20px;
    transition: all 133ms ease-out;
}

.expand {
    width:120px;
    transition: all 133ms ease-in;
}
#sidebar .textclosed{
    margin: 0;
    visibility: hidden;
}
#sidebar .textopen{
    margin-top: 2px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    visibility: visible;
}

#sidebar a:hover {
    background-color: #3e3;
}
.contentheader{
    text-align: center;
}
.main-content{
    flex-direction: column;
    padding-left: 100px;

}
@media all and (min-width: 768px){
   #sidebar {
       visibility: hidden;
   }

   #sidebar a {
       visibility: hidden;
       
   }
   .topnav{
       visibility: visible;
       
       background-color: #090;
       height: 40px;
       width: initial;
   }
   .topnav a {
       
       margin: 0;
       position: relative;
       top: 25%;
       -ms-transform: translateY(-25%);
       transform: translateY(-25%);
       text-decoration: none;
       color: white;
   }
   .topnav i {
       padding-left: 10px;
       padding-right: 5px;
   }
}